.create-link {
    float: right;
    margin: 10px;
}

/* Reusable Theme Toggle Component */
.theme-toggle {
    display: inline-flex;
    align-items: center;
    float: right; /* Positions the toggle to the right */
    margin-top: 10px;
}

/* The label for the switch */
.theme-toggle .theme-label {
    margin-left: 10px;
    font-size: 16px;
}

/* The switch container (with reduced size) */
.theme-toggle .switch {
    position: relative;
    width: 40px; /* Adjust the width as needed */
    height: 24px; /* Adjust the height as needed */
}

/* Hide the default checkbox */
.theme-toggle .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.theme-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

/* The slider before it is clicked */
.theme-toggle .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: rgb(117, 116, 116);
    transition: 0.4s;
    border-radius: 50%;
}

/* When the checkbox is checked */
.theme-toggle .switch input:checked + .slider:before {
    transform: translateX(16px);
}

/* Rounded slider */
.theme-toggle .slider.round {
    border-radius: 24px;
}

.theme-toggle .slider.round:before {
    border-radius: 50%;
}